@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Generate your snowflake id</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SnowflakeId">Generate a snowflakeId</a>
</div>
