@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    @{
        SnowflakeIdViewModel snowflakeId = ViewBag.SnowflakeId;
        <h1 class="display-4">
            @snowflakeId.id
        </h1>
    }
</div>

